/* Page Layout */
#container {
	position: relative;
	margin: 0px auto;
}
.first-layer-block {
	position: relative;
	margin: 0px auto;
}
.center-block {
	position: relative;
	margin: 0px auto;
}

/* Header */
#header {
	margin-bottom: 50px;
}
#header div {
	width: 800px;
}
#title p {
	font-family: Calibri, Georgia, Arial, serif;
	font-size: 50px;
	font-style: italic;
	text-decoration: none;
	color: black;
	transform: translateX(0px);
	/*text-shadow: 0 0 20px #fdec84,
            10px -10px 30px #ffae35,
            20px -20px 40px #ec760c,
            -20px -60px 50px #cd4607,
            0px -80px 60px #973717,
            10px -40px 70px #451b0e;*/
    margin: 0px;
    margin-bottom: 3px;
}
#welcome p {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 15px;
	font-style: italic;
	text-decoration: none;
	color: black;
	margin: 0px;
	padding-bottom: 5px;
	border-bottom: solid 1px;
}
#status p {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 15px;
	font-style: none;
	text-decoration: none;
	color: black;
	margin-top: 12px;
}

/* Scrolling Showcase */
#showcase {
	width: 800px;
	border-style: solid;
	border-width: 1px;
}
#showcase-name {
	margin: 10px;
}
#showcase-name p {
	text-align: center;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 30px;
	text-decoration: underline;
	color: rgb(51,49,49);
	transform: translateX(-74px);
	margin: 0px;
}
#showcase table tr td {
}
#showcase table tr td div {
	width: 260px;
	height: 40px;
	margin: 0px;
}
#showcase table tr td div p {
	overflow: hidden;
	text-overflow:ellipsis;
	/*white-space: nowrap;*/
	margin: 0px;
	margin-top: 5px;
}
#showcase table tr td img {
	width: 260px;
	height: 260px;
	object-fit: cover;
}


/* Navigator */
#nav-wrapper {
	margin: 0px auto;
	padding: 0px;
	width: 750px;
	border-bottom-style: double;
	border-bottom-width: 3px;
	padding: 10px;
	margin-top: 20px;
}
#nav-bar caption {
	caption-side: left;
	transform: translate(-15px, -3px) scale(1.2, 1);
	font-family: Arial, Calibri, Georgia, serif;
	font-size: 24px;
	text-decoration: underline;
	color: rgb(51,49,49);
}
#nav-bar tr {
	transform: translateX(12px);
}
#nav-bar tr td a {
	font-size: 22px;
	/*font-style: italic;*/
	padding: 10px;
	padding-bottom: 0px;
	letter-spacing: 0.005em;
	word-spacing: 0.00001em;
	text-decoration: none;
}
#nav-bar tr td a:link{ color: gray; }
#nav-bar tr td a:visited { color: gray; }
#nav-bar tr td a:hover {
	color: black;
}
#nav-bar tr td a:active {
	color: pink;
}


/* Self Introduction */
#self-intro {
	margin: 0px;
	margin-top: 200px;
}
#intro-header {
	text-align: center;
}
#name {
	line-height: 1.0;
	/*transform-origin: 0px, 0px;*/
	transform: translateX(-27px) scale(1.2, 1);
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 30px;
	text-decoration: underline;
	color: rgb(51,49,49);
}
#intro-content {
	width: 800px;
}
#intro-txt {
	font-family: Calibri, Arial, Times, "Times New Roman", serif;
	font-size: 15px;
	color: rgb(110,110,110);
}
#intro-txt:first-letter {
	float: left;
	padding-right:5px;
	text-transform:uppercase;
	font-family: Calibri, Arial, Times, "Times New Roman", serif;
	font-size: 28px;
	color: rgb(110,110,110);
}
/* Sharing & Collaborate */